<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><title>datatwo</title><style>html,body,#app{
      margin: 0px;
      padding: 0px;
      height: 100%;
      
    }</style><link href="./static/css/app.5d9f61c15102cc7b8137bcf4ffec0210.css" rel="stylesheet"></head><body><div id="app"></div><script type="text/javascript" src="./static/js/manifest.3ad1d5771e9b13dbdad2.js"></script><script type="text/javascript" src="./static/js/vendor.2f3ad238587f21e64e86.js"></script><script type="text/javascript" src="./static/js/app.ddd9c421114e1e49c684.js"></script></body></html>