<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><title>datatwo</title><style>html,body,#app{
      margin: 0px;
      padding: 0px;
      height: 100%;
      
    }</style><link href="/static/css/app.8f4f313cb56d694f1bd3b4e00ba0b3bb.css" rel="stylesheet"></head><body><div id="app"></div><script type="text/javascript" src="/static/js/manifest.2ae2e69a05c33dfc65f8.js"></script><script type="text/javascript" src="/static/js/vendor.eea414ae2aba11c4fcb0.js"></script><script type="text/javascript" src="/static/js/app.bfa2457a2f97b0b9e294.js"></script></body></html>