<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><title>datatwo</title><style>html,body,#app{
      margin: 0px;
      padding: 0px;
      height: 100%;
      
    }</style><link href="./static/css/app.20160e73c3dfb17410553f47121ff705.css" rel="stylesheet"></head><body><div id="app"></div><script type="text/javascript" src="./static/js/manifest.3ad1d5771e9b13dbdad2.js"></script><script type="text/javascript" src="./static/js/vendor.68019aa594abc8b5ceb8.js"></script><script type="text/javascript" src="./static/js/app.10793e50265c6d525903.js"></script></body></html>